In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('ShartankIndiaAllPitches.csv')

In [4]:
df

,Episode Number,Pitch Number,Brand,Idea,Investment Amount (In Lakhs INR),Debt (In lakhs INR),Equity,Anupam,Ashneer,Namita,Aman,Peyush,Vineeta,Ghazal,Season
0,1,1,BluePine Industries,Frozen Momos,75,0,18%,N,Y,N,Y,N,Y,N,1
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,40,0,50%,N,Y,N,N,N,Y,N,1
2,1,3,Heart up my Sleeves,Detachable Sleeves,25,0,30%,Y,N,N,N,N,Y,N,1
3,2,4,Tagz Foods,Healthy Potato Chips,70,0,2.75%,N,Y,N,N,N,N,N,1
4,2,5,Head and Heart,Brain Development Course,0,0,0,N,N,N,N,N,N,N,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,34,113,Green Protein,Plant-Based Protein,0,0,0,N,N,N,N,N,N,N,1
113,34,114,On2Cook,Fastest Cooking Device,0,0,0,N,N,N,N,N,N,N,1
114,35,115,Jain Shikanji,Lemonade,40,0,30.00%,Y,Y,N,Y,N,Y,N,1
115,35,116,Woloo,Washroom Finder,0,0,0,N,N,N,N,N,N,N,1
116,35,117,Elcare India,Carenting for Elders,0,0,0,N,N,N,N,N,N,N,1

In [5]:
df.loc[51]

Episode Number                                              17
Pitch Number                                                52
Brand                                                   Outbox
Idea                                 Premium Surprise-Planning
Investment Amount (In Lakhs INR)                             0
Debt (In lakhs INR)                                          0
Equity                                                       0
Anupam                                                       N
Ashneer                                                      N
Namita                                                       N
Aman                                                         N
Peyush                                                       N
Vineeta                                                      N
Ghazal                                                       N
Season                                                       1
Name: 51, dtype: object

In [6]:
df.shape

(117, 15)

In [7]:
df.columns=df.columns.str.strip()
df.rename(columns={'Investment Amount (In Lakhs INR)': 'Investment Amount(lakhs)','Debt (In lakhs INR)':'Debt(lakhs)'}, inplace=True)

In [8]:
df

,Episode Number,Pitch Number,Brand,Idea,Investment Amount(lakhs),Debt(lakhs),Equity,Anupam,Ashneer,Namita,Aman,Peyush,Vineeta,Ghazal,Season
0,1,1,BluePine Industries,Frozen Momos,75,0,18%,N,Y,N,Y,N,Y,N,1
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,40,0,50%,N,Y,N,N,N,Y,N,1
2,1,3,Heart up my Sleeves,Detachable Sleeves,25,0,30%,Y,N,N,N,N,Y,N,1
3,2,4,Tagz Foods,Healthy Potato Chips,70,0,2.75%,N,Y,N,N,N,N,N,1
4,2,5,Head and Heart,Brain Development Course,0,0,0,N,N,N,N,N,N,N,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,34,113,Green Protein,Plant-Based Protein,0,0,0,N,N,N,N,N,N,N,1
113,34,114,On2Cook,Fastest Cooking Device,0,0,0,N,N,N,N,N,N,N,1
114,35,115,Jain Shikanji,Lemonade,40,0,30.00%,Y,Y,N,Y,N,Y,N,1
115,35,116,Woloo,Washroom Finder,0,0,0,N,N,N,N,N,N,N,1
116,35,117,Elcare India,Carenting for Elders,0,0,0,N,N,N,N,N,N,N,1

Feature Extraction

Q1: Did they get money?
ans: Y/N

In [9]:
df['Deal_Status']= df['Investment Amount(lakhs)'].apply(lambda X:"Yes" if X>0 else "No")

In [10]:
df

,Episode Number,Pitch Number,Brand,Idea,Investment Amount(lakhs),Debt(lakhs),Equity,Anupam,Ashneer,Namita,Aman,Peyush,Vineeta,Ghazal,Season,Deal_Status
0,1,1,BluePine Industries,Frozen Momos,75,0,18%,N,Y,N,Y,N,Y,N,1,Yes
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,40,0,50%,N,Y,N,N,N,Y,N,1,Yes
2,1,3,Heart up my Sleeves,Detachable Sleeves,25,0,30%,Y,N,N,N,N,Y,N,1,Yes
3,2,4,Tagz Foods,Healthy Potato Chips,70,0,2.75%,N,Y,N,N,N,N,N,1,Yes
4,2,5,Head and Heart,Brain Development Course,0,0,0,N,N,N,N,N,N,N,1,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,34,113,Green Protein,Plant-Based Protein,0,0,0,N,N,N,N,N,N,N,1,No
113,34,114,On2Cook,Fastest Cooking Device,0,0,0,N,N,N,N,N,N,N,1,No
114,35,115,Jain Shikanji,Lemonade,40,0,30.00%,Y,Y,N,Y,N,Y,N,1,Yes
115,35,116,Woloo,Washroom Finder,0,0,0,N,N,N,N,N,N,N,1,No
116,35,117,Elcare India,Carenting for Elders,0,0,0,N,N,N,N,N,N,N,1,No

In [11]:
df.loc[1]

Episode Number                                                          1
Pitch Number                                                            2
Brand                                                       Booz scooters
Idea                        Renting e-bike for mobility in private spaces
Investment Amount(lakhs)                                               40
Debt(lakhs)                                                             0
Equity                                                                50%
Anupam                                                                  N
Ashneer                                                                 Y
Namita                                                                  N
Aman                                                                    N
Peyush                                                                  N
Vineeta                                                                 Y
Ghazal                                                                  N
Season                                                                  1
Deal_Status                                                           Yes
Name: 1, dtype: object

In [12]:
df.fillna(0)

,Episode Number,Pitch Number,Brand,Idea,Investment Amount(lakhs),Debt(lakhs),Equity,Anupam,Ashneer,Namita,Aman,Peyush,Vineeta,Ghazal,Season,Deal_Status
0,1,1,BluePine Industries,Frozen Momos,75,0,18%,N,Y,N,Y,N,Y,N,1,Yes
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,40,0,50%,N,Y,N,N,N,Y,N,1,Yes
2,1,3,Heart up my Sleeves,Detachable Sleeves,25,0,30%,Y,N,N,N,N,Y,N,1,Yes
3,2,4,Tagz Foods,Healthy Potato Chips,70,0,2.75%,N,Y,N,N,N,N,N,1,Yes
4,2,5,Head and Heart,Brain Development Course,0,0,0,N,N,N,N,N,N,N,1,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,34,113,Green Protein,Plant-Based Protein,0,0,0,N,N,N,N,N,N,N,1,No
113,34,114,On2Cook,Fastest Cooking Device,0,0,0,N,N,N,N,N,N,N,1,No
114,35,115,Jain Shikanji,Lemonade,40,0,30.00%,Y,Y,N,Y,N,Y,N,1,Yes
115,35,116,Woloo,Washroom Finder,0,0,0,N,N,N,N,N,N,N,1,No
116,35,117,Elcare India,Carenting for Elders,0,0,0,N,N,N,N,N,N,N,1,No

In [13]:
df.loc[49]

Episode Number                                 17
Pitch Number                                   50
Brand                       Find Your Kicks India
Idea                               Sneaker Resale
Investment Amount(lakhs)                       50
Debt(lakhs)                                     0
Equity                                     25.00%
Anupam                                          Y
Ashneer                                         Y
Namita                                          Y
Aman                                            Y
Peyush                                          Y
Vineeta                                         N
Ghazal                                          N
Season                                          1
Deal_Status                                   Yes
Name: 49, dtype: object

In [14]:
x=int(input('Enter Pitch Number: '))
pitch=x-1
df.loc[[pitch]][['Episode Number','Pitch Number','Brand','Idea','Deal_Status']]

   Episode Number  Pitch Number                Brand          Idea Deal_Status
0               1             1  BluePine Industries  Frozen Momos         Yes

In [15]:
df.columns

Index(['Episode Number', 'Pitch Number', 'Brand', 'Idea',
       'Investment Amount(lakhs)', 'Debt(lakhs)', 'Equity', 'Anupam',
       'Ashneer', 'Namita', 'Aman', 'Peyush', 'Vineeta', 'Ghazal', 'Season',
       'Deal_Status'],
      dtype='object')

In [16]:
df['Anupam']=df['Anupam'].map({'Y' : 'Yes', 'N' : 'No'})
df['Namita']=df['Namita'].map({'Y': 'Yes','N': 'No'})
df['Aman']=df['Aman'].map({'Y':'Yes','N':'No'})
df['Peyush']=df['Peyush'].map({'Y' :'Yes','N':'No'})
df['Vineeta']=df['Vineeta'].map({'Y':"Yes",'N':"No"})
df['Ghazal']=df['Ghazal'].map({'Y':"Yes",'N':"No"})
df['Ashneer']=df['Ashneer'].map({'Y':"Yes",'N':"No"})

In [17]:
df

,Episode Number,Pitch Number,Brand,Idea,Investment Amount(lakhs),Debt(lakhs),Equity,Anupam,Ashneer,Namita,Aman,Peyush,Vineeta,Ghazal,Season,Deal_Status
0,1,1,BluePine Industries,Frozen Momos,75,0,18%,No,Yes,No,Yes,No,Yes,No,1,Yes
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,40,0,50%,No,Yes,No,No,No,Yes,No,1,Yes
2,1,3,Heart up my Sleeves,Detachable Sleeves,25,0,30%,Yes,No,No,No,No,Yes,No,1,Yes
3,2,4,Tagz Foods,Healthy Potato Chips,70,0,2.75%,No,Yes,No,No,No,No,No,1,Yes
4,2,5,Head and Heart,Brain Development Course,0,0,0,No,No,No,No,No,No,No,1,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,34,113,Green Protein,Plant-Based Protein,0,0,0,No,No,No,No,No,No,No,1,No
113,34,114,On2Cook,Fastest Cooking Device,0,0,0,No,No,No,No,No,No,No,1,No
114,35,115,Jain Shikanji,Lemonade,40,0,30.00%,Yes,Yes,No,Yes,No,Yes,No,1,Yes
115,35,116,Woloo,Washroom Finder,0,0,0,No,No,No,No,No,No,No,1,No
116,35,117,Elcare India,Carenting for Elders,0,0,0,No,No,No,No,No,No,No,1,No

In [18]:
df.drop('Season',axis=1, inplace=True)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Episode Number            117 non-null    int64
 1   Pitch Number              117 non-null    int64
 2   Brand                     117 non-null    object
 3   Idea                      117 non-null    object
 4   Investment Amount(lakhs)  117 non-null    int64
 5   Debt(lakhs)               117 non-null    int64
 6   Equity                    117 non-null    object
 7   Anupam                    117 non-null    object
 8   Ashneer                   117 non-null    object
 9   Namita                    117 non-null    object
 10  Aman                      117 non-null    object
 11  Peyush                    117 non-null    object
 12  Vineeta                   117 non-null    object
 13  Ghazal                    117 non-null    object
 14  Deal_Status               117 non-null    object
dtypes: int64(4), object(11)
memory usage: 13.8+ KB

Calculating the Valuation of the Company

In [20]:
df.dtypes

Episode Number               int64
Pitch Number                 int64
Brand                       object
Idea                        object
Investment Amount(lakhs)     int64
Debt(lakhs)                  int64
Equity                      object
Anupam                      object
Ashneer                     object
Namita                      object
Aman                        object
Peyush                      object
Vineeta                     object
Ghazal                      object
Deal_Status                 object
dtype: object

In [21]:
df.rename(columns={'Equity':'Equity (In Percentage)'}, inplace=True)

In [22]:
df['Equity (In Percentage)']=pd.to_numeric(df['Equity (In Percentage)'].str.replace('%',''))/100

In [23]:
df

,Episode Number,Pitch Number,Brand,Idea,Investment Amount(lakhs),Debt(lakhs),Equity (In Percentage),Anupam,Ashneer,Namita,Aman,Peyush,Vineeta,Ghazal,Deal_Status
0,1,1,BluePine Industries,Frozen Momos,75,0,0.1800,No,Yes,No,Yes,No,Yes,No,Yes
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,40,0,0.5000,No,Yes,No,No,No,Yes,No,Yes
2,1,3,Heart up my Sleeves,Detachable Sleeves,25,0,0.3000,Yes,No,No,No,No,Yes,No,Yes
3,2,4,Tagz Foods,Healthy Potato Chips,70,0,0.0275,No,Yes,No,No,No,No,No,Yes
4,2,5,Head and Heart,Brain Development Course,0,0,0.0000,No,No,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,34,113,Green Protein,Plant-Based Protein,0,0,0.0000,No,No,No,No,No,No,No,No
113,34,114,On2Cook,Fastest Cooking Device,0,0,0.0000,No,No,No,No,No,No,No,No
114,35,115,Jain Shikanji,Lemonade,40,0,0.3000,Yes,Yes,No,Yes,No,Yes,No,Yes
115,35,116,Woloo,Washroom Finder,0,0,0.0000,No,No,No,No,No,No,No,No
116,35,117,Elcare India,Carenting for Elders,0,0,0.0000,No,No,No,No,No,No,No,No

In [24]:
df['Valuation']=df['Investment Amount(lakhs)']/ df['Equity (In Percentage)']

In [25]:
df

,Episode Number,Pitch Number,Brand,Idea,Investment Amount(lakhs),Debt(lakhs),Equity (In Percentage),Anupam,Ashneer,Namita,Aman,Peyush,Vineeta,Ghazal,Deal_Status,Valuation
0,1,1,BluePine Industries,Frozen Momos,75,0,0.1800,No,Yes,No,Yes,No,Yes,No,Yes,416.666667
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,40,0,0.5000,No,Yes,No,No,No,Yes,No,Yes,80.000000
2,1,3,Heart up my Sleeves,Detachable Sleeves,25,0,0.3000,Yes,No,No,No,No,Yes,No,Yes,83.333333
3,2,4,Tagz Foods,Healthy Potato Chips,70,0,0.0275,No,Yes,No,No,No,No,No,Yes,2545.454545
4,2,5,Head and Heart,Brain Development Course,0,0,0.0000,No,No,No,No,No,No,No,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,34,113,Green Protein,Plant-Based Protein,0,0,0.0000,No,No,No,No,No,No,No,No,NaN
113,34,114,On2Cook,Fastest Cooking Device,0,0,0.0000,No,No,No,No,No,No,No,No,NaN
114,35,115,Jain Shikanji,Lemonade,40,0,0.3000,Yes,Yes,No,Yes,No,Yes,No,Yes,133.333333
115,35,116,Woloo,Washroom Finder,0,0,0.0000,No,No,No,No,No,No,No,No,NaN
116,35,117,Elcare India,Carenting for Elders,0,0,0.0000,No,No,No,No,No,No,No,No,NaN

In [26]:
df.rename(columns={'Valuation': 'Valuation(lakhs)'}, inplace=True)

In [27]:
df['Valuation(lakhs)'].fillna(0)

0       416.666667
1        80.000000
2        83.333333
3      2545.454545
4         0.000000
          ...
112       0.000000
113       0.000000
114     133.333333
115       0.000000
116       0.000000
Name: Valuation(lakhs), Length: 117, dtype: float64

In [28]:
df['Valuation(lakhs)']=df['Valuation(lakhs)'].round(2)

In [29]:
df

,Episode Number,Pitch Number,Brand,Idea,Investment Amount(lakhs),Debt(lakhs),Equity (In Percentage),Anupam,Ashneer,Namita,Aman,Peyush,Vineeta,Ghazal,Deal_Status,Valuation(lakhs)
0,1,1,BluePine Industries,Frozen Momos,75,0,0.1800,No,Yes,No,Yes,No,Yes,No,Yes,416.67
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,40,0,0.5000,No,Yes,No,No,No,Yes,No,Yes,80.00
2,1,3,Heart up my Sleeves,Detachable Sleeves,25,0,0.3000,Yes,No,No,No,No,Yes,No,Yes,83.33
3,2,4,Tagz Foods,Healthy Potato Chips,70,0,0.0275,No,Yes,No,No,No,No,No,Yes,2545.45
4,2,5,Head and Heart,Brain Development Course,0,0,0.0000,No,No,No,No,No,No,No,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,34,113,Green Protein,Plant-Based Protein,0,0,0.0000,No,No,No,No,No,No,No,No,NaN
113,34,114,On2Cook,Fastest Cooking Device,0,0,0.0000,No,No,No,No,No,No,No,No,NaN
114,35,115,Jain Shikanji,Lemonade,40,0,0.3000,Yes,Yes,No,Yes,No,Yes,No,Yes,133.33
115,35,116,Woloo,Washroom Finder,0,0,0.0000,No,No,No,No,No,No,No,No,NaN
116,35,117,Elcare India,Carenting for Elders,0,0,0.0000,No,No,No,No,No,No,No,No,NaN

In [30]:
df['Valuation(lakhs)']=df['Valuation(lakhs)'].fillna(0)

In [31]:
df

,Episode Number,Pitch Number,Brand,Idea,Investment Amount(lakhs),Debt(lakhs),Equity (In Percentage),Anupam,Ashneer,Namita,Aman,Peyush,Vineeta,Ghazal,Deal_Status,Valuation(lakhs)
0,1,1,BluePine Industries,Frozen Momos,75,0,0.1800,No,Yes,No,Yes,No,Yes,No,Yes,416.67
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,40,0,0.5000,No,Yes,No,No,No,Yes,No,Yes,80.00
2,1,3,Heart up my Sleeves,Detachable Sleeves,25,0,0.3000,Yes,No,No,No,No,Yes,No,Yes,83.33
3,2,4,Tagz Foods,Healthy Potato Chips,70,0,0.0275,No,Yes,No,No,No,No,No,Yes,2545.45
4,2,5,Head and Heart,Brain Development Course,0,0,0.0000,No,No,No,No,No,No,No,No,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,34,113,Green Protein,Plant-Based Protein,0,0,0.0000,No,No,No,No,No,No,No,No,0.00
113,34,114,On2Cook,Fastest Cooking Device,0,0,0.0000,No,No,No,No,No,No,No,No,0.00
114,35,115,Jain Shikanji,Lemonade,40,0,0.3000,Yes,Yes,No,Yes,No,Yes,No,Yes,133.33
115,35,116,Woloo,Washroom Finder,0,0,0.0000,No,No,No,No,No,No,No,No,0.00
116,35,117,Elcare India,Carenting for Elders,0,0,0.0000,No,No,No,No,No,No,No,No,0.00

In [32]:
df['Valuation(lakhs)'].max()

np.float64(2798.51)

Total Funding

In [33]:
df['Total Funding']=df['Investment Amount(lakhs)']+df['Debt(lakhs)']

In [35]:
print(df.columns)

Index(['Episode Number', 'Pitch Number', 'Brand', 'Idea',
       'Investment Amount(lakhs)', 'Debt(lakhs)', 'Equity (In Percentage)',
       'Anupam', 'Ashneer', 'Namita', 'Aman', 'Peyush', 'Vineeta', 'Ghazal',
       'Deal_Status', 'Valuation(lakhs)', 'Total Funding'],
      dtype='object')

How many sharks invested in a single deal?

In [36]:
print(df['Anupam'],df['Aman'])

0       No
1       No
2      Yes
3       No
4       No
      ...
112     No
113     No
114    Yes
115     No
116     No
Name: Anupam, Length: 117, dtype: object 0      Yes
1       No
2       No
3       No
4       No
      ...
112     No
113     No
114    Yes
115     No
116     No
Name: Aman, Length: 117, dtype: object

In [37]:
df['Anupam']=df['Anupam'].map({'Yes':1,'No':0})

In [38]:
df['Ashneer']=df['Ashneer'].map({'Yes': 1, 'No': 0})
df['Aman']=df['Aman'].map({'Yes': 1, 'No': 0})
df['Peyush']=df['Peyush'].map({'Yes': 1, 'No': 0})
df['Vineeta']=df['Vineeta'].map({'Yes': 1, 'No': 0})
df['Ghazal']=df['Ghazal'].map({'Yes': 1, 'No': 0})
df['Namita']=df['Namita'].map({'Yes': 1, 'No': 0})

In [39]:
df

,Episode Number,Pitch Number,Brand,Idea,Investment Amount(lakhs),Debt(lakhs),Equity (In Percentage),Anupam,Ashneer,Namita,Aman,Peyush,Vineeta,Ghazal,Deal_Status,Valuation(lakhs),Total Funding
0,1,1,BluePine Industries,Frozen Momos,75,0,0.1800,0,1,0,1,0,1,0,Yes,416.67,75
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,40,0,0.5000,0,1,0,0,0,1,0,Yes,80.00,40
2,1,3,Heart up my Sleeves,Detachable Sleeves,25,0,0.3000,1,0,0,0,0,1,0,Yes,83.33,25
3,2,4,Tagz Foods,Healthy Potato Chips,70,0,0.0275,0,1,0,0,0,0,0,Yes,2545.45,70
4,2,5,Head and Heart,Brain Development Course,0,0,0.0000,0,0,0,0,0,0,0,No,0.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,34,113,Green Protein,Plant-Based Protein,0,0,0.0000,0,0,0,0,0,0,0,No,0.00,0
113,34,114,On2Cook,Fastest Cooking Device,0,0,0.0000,0,0,0,0,0,0,0,No,0.00,0
114,35,115,Jain Shikanji,Lemonade,40,0,0.3000,1,1,0,1,0,1,0,Yes,133.33,40
115,35,116,Woloo,Washroom Finder,0,0,0.0000,0,0,0,0,0,0,0,No,0.00,0
116,35,117,Elcare India,Carenting for Elders,0,0,0.0000,0,0,0,0,0,0,0,No,0.00,0

In [40]:
print(df['Namita'],df['Aman'],df['Peyush'],df['Vineeta'],df['Ghazal'],df['Ashneer'])

0      0
1      0
2      0
3      0
4      0
      ..
112    0
113    0
114    0
115    0
116    0
Name: Namita, Length: 117, dtype: int64 0      1
1      0
2      0
3      0
4      0
      ..
112    0
113    0
114    1
115    0
116    0
Name: Aman, Length: 117, dtype: int64 0      0
1      0
2      0
3      0
4      0
      ..
112    0
113    0
114    0
115    0
116    0
Name: Peyush, Length: 117, dtype: int64 0      1
1      1
2      1
3      0
4      0
      ..
112    0
113    0
114    1
115    0
116    0
Name: Vineeta, Length: 117, dtype: int64 0      0
1      0
2      0
3      0
4      0
      ..
112    0
113    0
114    0
115    0
116    0
Name: Ghazal, Length: 117, dtype: int64 0      1
1      1
2      0
3      1
4      0
      ..
112    0
113    0
114    1
115    0
116    0
Name: Ashneer, Length: 117, dtype: int64

In [41]:

Sharks=['Anupam','Ashneer','Namita','Aman','Peyush','Vineeta','Ghazal']
df['Sharks Count']=df[Sharks].sum(axis=1)

In [42]:
print(df.columns)

Index(['Episode Number', 'Pitch Number', 'Brand', 'Idea',
       'Investment Amount(lakhs)', 'Debt(lakhs)', 'Equity (In Percentage)',
       'Anupam', 'Ashneer', 'Namita', 'Aman', 'Peyush', 'Vineeta', 'Ghazal',
       'Deal_Status', 'Valuation(lakhs)', 'Total Funding', 'Sharks Count'],
      dtype='object')

In [43]:
df.dtypes

Episode Number                int64
Pitch Number                  int64
Brand                        object
Idea                         object
Investment Amount(lakhs)      int64
Debt(lakhs)                   int64
Equity (In Percentage)      float64
Anupam                        int64
Ashneer                       int64
Namita                        int64
Aman                          int64
Peyush                        int64
Vineeta                       int64
Ghazal                        int64
Deal_Status                  object
Valuation(lakhs)            float64
Total Funding                 int64
Sharks Count                  int64
dtype: object

In [44]:
print(df[['Brand','Valuation(lakhs)','Sharks Count','Total Funding',]].head())

                 Brand  Valuation(lakhs)  Sharks Count  Total Funding
0  BluePine Industries            416.67             3             75
1        Booz scooters             80.00             2             40
2  Heart up my Sleeves             83.33             2             25
3           Tagz Foods           2545.45             1             70
4       Head and Heart              0.00             0              0

In [45]:
df['Sharks Count'].max()

np.int64(5)

In [46]:
print(f'Brands who got the maximum Sharks are:{df.loc[df['Sharks Count']==5][['Brand','Idea','Valuation(lakhs)']]}')

Brands who got the maximum Sharks are:                    Brand                 Idea  Valuation(lakhs)
15            Skippi Pops             Ice-Pops             66.67
49  Find Your Kicks India       Sneaker Resale            200.00
63               IN A CAN        Can Cocktails            100.00
79    Sunfox Technologies  Portable ECG Device            166.67

In [47]:
df[df['Sharks Count']==df['Sharks Count'].max()][['Brand','Idea','Valuation(lakhs)','Sharks Count','Total Funding']]

,Brand,Idea,Valuation(lakhs),Sharks Count,Total Funding
15,Skippi Pops,Ice-Pops,66.67,5,10
49,Find Your Kicks India,Sneaker Resale,200.00,5,50
63,IN A CAN,Can Cocktails,100.00,5,10
79,Sunfox Technologies,Portable ECG Device,166.67,5,10

In [48]:
df[df['Sharks Count']==1][['Brand','Idea','Valuation(lakhs)','Sharks Count','Total Funding']]

,Brand,Idea,Valuation(lakhs),Sharks Count,Total Funding
3,Tagz Foods,Healthy Potato Chips,2545.45,1,70
7,Peeschute,Disposable Urine Bag,1250.00,1,75
8,NOCD,Energy Drink,133.33,1,50
16,Menstrupedia,Menstrual Awareness Comic,250.00,1,50
23,Motion Breeze,Smart Electric Motorcycle,500.00,1,30
31,ARRCOAT Surface Textures,Wall Building,333.33,1,50
33,Auli Lifestyle,Ayurvedic Products,1500.00,1,75
42,Hammer Lifestyle,Smart Audio Products,25.00,1,10
43,PNT,Robotics and Automation Solutions,100.00,1,50
52,RoadBounce,Pothole Detection Software and Data,400.00,1,80
55,Otua,Electric Auto Vehicle,100.00,1,100
61,The State Plate,Delicacies,1333.33,1,65
65,Sid07 Designs,Inventions,33.33,1,47
71,Namhya Foods,Ayurvedic Enriched Food,500.00,1,100
76,KG Agrotech,Agricultural Innovations,25.00,1,30
78,PawsIndia,Dog Products,333.33,1,50
81,Isak Fragrances,Perfumes,100.00,1,50
83,Rare Planet,Handicrafts,216.67,1,65
87,Insurance Samadhan,Insurance Solutions,250.00,1,10
100,AyuRythm,Ayurvedic Wellness App,2798.51,1,75
104,GrowFitter,Rewards App,2500.00,1,50
106,Colour Me Mad,Insoles,160.00,1,40

Total Funding

In [49]:
df['Total Funding(lakhs)']=df['Investment Amount(lakhs)']+df['Debt(lakhs)']

In [50]:
df

,Episode Number,Pitch Number,Brand,Idea,Investment Amount(lakhs),Debt(lakhs),Equity (In Percentage),Anupam,Ashneer,Namita,Aman,Peyush,Vineeta,Ghazal,Deal_Status,Valuation(lakhs),Total Funding,Sharks Count,Total Funding(lakhs)
0,1,1,BluePine Industries,Frozen Momos,75,0,0.1800,0,1,0,1,0,1,0,Yes,416.67,75,3,75
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,40,0,0.5000,0,1,0,0,0,1,0,Yes,80.00,40,2,40
2,1,3,Heart up my Sleeves,Detachable Sleeves,25,0,0.3000,1,0,0,0,0,1,0,Yes,83.33,25,2,25
3,2,4,Tagz Foods,Healthy Potato Chips,70,0,0.0275,0,1,0,0,0,0,0,Yes,2545.45,70,1,70
4,2,5,Head and Heart,Brain Development Course,0,0,0.0000,0,0,0,0,0,0,0,No,0.00,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,34,113,Green Protein,Plant-Based Protein,0,0,0.0000,0,0,0,0,0,0,0,No,0.00,0,0,0
113,34,114,On2Cook,Fastest Cooking Device,0,0,0.0000,0,0,0,0,0,0,0,No,0.00,0,0,0
114,35,115,Jain Shikanji,Lemonade,40,0,0.3000,1,1,0,1,0,1,0,Yes,133.33,40,4,40
115,35,116,Woloo,Washroom Finder,0,0,0.0000,0,0,0,0,0,0,0,No,0.00,0,0,0
116,35,117,Elcare India,Carenting for Elders,0,0,0.0000,0,0,0,0,0,0,0,No,0.00,0,0,0

In [51]:
df2=df[df['Total Funding(lakhs)']>0]

In [52]:
df2

,Episode Number,Pitch Number,Brand,Idea,Investment Amount(lakhs),Debt(lakhs),Equity (In Percentage),Anupam,Ashneer,Namita,Aman,Peyush,Vineeta,Ghazal,Deal_Status,Valuation(lakhs),Total Funding,Sharks Count,Total Funding(lakhs)
0,1,1,BluePine Industries,Frozen Momos,75,0,0.1800,0,1,0,1,0,1,0,Yes,416.67,75,3,75
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,40,0,0.5000,0,1,0,0,0,1,0,Yes,80.00,40,2,40
2,1,3,Heart up my Sleeves,Detachable Sleeves,25,0,0.3000,1,0,0,0,0,1,0,Yes,83.33,25,2,25
3,2,4,Tagz Foods,Healthy Potato Chips,70,0,0.0275,0,1,0,0,0,0,0,Yes,2545.45,70,1,70
7,3,8,Peeschute,Disposable Urine Bag,75,0,0.0600,0,0,0,1,0,0,0,Yes,1250.00,75,1,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,33,107,Colour Me Mad,Insoles,40,0,0.2500,0,0,1,0,0,0,0,Yes,160.00,40,1,40
108,33,109,Tweek Labs,Sportswear,60,0,0.1000,1,1,0,0,1,0,0,Yes,600.00,60,3,60
109,33,110,Proxgy,VR,10,0,0.1000,0,1,0,0,1,0,0,Yes,100.00,10,2,10
110,34,111,Nomad Food Project,Bacon Jams,40,0,0.2000,0,1,1,0,0,1,1,Yes,200.00,40,4,40
114,35,115,Jain Shikanji,Lemonade,40,0,0.3000,1,1,0,1,0,1,0,Yes,133.33,40,4,40

In [53]:
df.drop(['Total Funding'], axis=1, inplace=True)

Who is the most active Shark?

In [54]:
active_shark=df[Sharks].sum().sort_values(ascending=False)
print(active_shark)

Aman       28
Peyush     27
Anupam     24
Namita     22
Ashneer    21
Vineeta    15
Ghazal      7
dtype: int64

What is the avg valuation?

In [55]:
print(f'Average valuation is {df2['Total Funding(lakhs)'].mean().__round__()} Lakhs.')

Average valuation is 44 Lakhs.

How many deals included Debt?

In [56]:
print(f'Number of deals that included Debt:{df[df['Debt(lakhs)']>0].shape[0]}')

Number of deals that included Debt:8

In [57]:
df[df['Debt(lakhs)']>0][['Pitch Number','Brand','Idea','Debt(lakhs)','Equity (In Percentage)','Valuation(lakhs)','Total Funding(lakhs)','Sharks Count']]

,Pitch Number,Brand,Idea,Debt(lakhs),Equity (In Percentage),Valuation(lakhs),Total Funding(lakhs),Sharks Count
8,9,NOCD,Energy Drink,30,0.150,133.33,50,1
43,44,PNT,Robotics and Automation Solutions,25,0.250,100.00,50,1
45,46,Bamboo India,Bamboo Products,30,0.035,1428.57,80,2
55,56,Otua,Electric Auto Vehicle,99,0.010,100.00,100,1
61,62,The State Plate,Delicacies,25,0.030,1333.33,65,1
65,66,Sid07 Designs,Inventions,22,0.750,33.33,47,1
71,72,Namhya Foods,Ayurvedic Enriched Food,50,0.100,500.00,100,1
76,77,KG Agrotech,Agricultural Innovations,20,0.400,25.00,30,1

Are most deals small or are there many large investment?

In [58]:
df2

,Episode Number,Pitch Number,Brand,Idea,Investment Amount(lakhs),Debt(lakhs),Equity (In Percentage),Anupam,Ashneer,Namita,Aman,Peyush,Vineeta,Ghazal,Deal_Status,Valuation(lakhs),Total Funding,Sharks Count,Total Funding(lakhs)
0,1,1,BluePine Industries,Frozen Momos,75,0,0.1800,0,1,0,1,0,1,0,Yes,416.67,75,3,75
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,40,0,0.5000,0,1,0,0,0,1,0,Yes,80.00,40,2,40
2,1,3,Heart up my Sleeves,Detachable Sleeves,25,0,0.3000,1,0,0,0,0,1,0,Yes,83.33,25,2,25
3,2,4,Tagz Foods,Healthy Potato Chips,70,0,0.0275,0,1,0,0,0,0,0,Yes,2545.45,70,1,70
7,3,8,Peeschute,Disposable Urine Bag,75,0,0.0600,0,0,0,1,0,0,0,Yes,1250.00,75,1,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,33,107,Colour Me Mad,Insoles,40,0,0.2500,0,0,1,0,0,0,0,Yes,160.00,40,1,40
108,33,109,Tweek Labs,Sportswear,60,0,0.1000,1,1,0,0,1,0,0,Yes,600.00,60,3,60
109,33,110,Proxgy,VR,10,0,0.1000,0,1,0,0,1,0,0,Yes,100.00,10,2,10
110,34,111,Nomad Food Project,Bacon Jams,40,0,0.2000,0,1,1,0,0,1,1,Yes,200.00,40,4,40
114,35,115,Jain Shikanji,Lemonade,40,0,0.3000,1,1,0,1,0,1,0,Yes,133.33,40,4,40

In [59]:
conditions=[df2['Total Funding(lakhs)']>50,(df2['Total Funding(lakhs)']>=25) & (df2['Total Funding(lakhs)']<50)]
choices=['High','Medium']
df2['Investment Category']=np.select(conditions,choices,default='Low')
print(df2[['Total Funding(lakhs)','Investment Category']])

     Total Funding(lakhs) Investment Category
0                      75                High
1                      40              Medium
2                      25              Medium
3                      70                High
7                      75                High
..                    ...                 ...
106                    40              Medium
108                    60                High
109                    10                 Low
110                    40              Medium
114                    40              Medium

[65 rows x 2 columns]

C:\Users\birut\AppData\Local\Temp\ipykernel_18768\4260754177.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Investment Category']=np.select(conditions,choices,default='Low')

In [60]:
print(df2['Investment Category'].value_counts())

Investment Category
Low       31
High      19
Medium    15
Name: count, dtype: int64

In [61]:
df2

,Episode Number,Pitch Number,Brand,Idea,Investment Amount(lakhs),Debt(lakhs),Equity (In Percentage),Anupam,Ashneer,Namita,Aman,Peyush,Vineeta,Ghazal,Deal_Status,Valuation(lakhs),Total Funding,Sharks Count,Total Funding(lakhs),Investment Category
0,1,1,BluePine Industries,Frozen Momos,75,0,0.1800,0,1,0,1,0,1,0,Yes,416.67,75,3,75,High
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,40,0,0.5000,0,1,0,0,0,1,0,Yes,80.00,40,2,40,Medium
2,1,3,Heart up my Sleeves,Detachable Sleeves,25,0,0.3000,1,0,0,0,0,1,0,Yes,83.33,25,2,25,Medium
3,2,4,Tagz Foods,Healthy Potato Chips,70,0,0.0275,0,1,0,0,0,0,0,Yes,2545.45,70,1,70,High
7,3,8,Peeschute,Disposable Urine Bag,75,0,0.0600,0,0,0,1,0,0,0,Yes,1250.00,75,1,75,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,33,107,Colour Me Mad,Insoles,40,0,0.2500,0,0,1,0,0,0,0,Yes,160.00,40,1,40,Medium
108,33,109,Tweek Labs,Sportswear,60,0,0.1000,1,1,0,0,1,0,0,Yes,600.00,60,3,60,High
109,33,110,Proxgy,VR,10,0,0.1000,0,1,0,0,1,0,0,Yes,100.00,10,2,10,Low
110,34,111,Nomad Food Project,Bacon Jams,40,0,0.2000,0,1,1,0,0,1,1,Yes,200.00,40,4,40,Medium
114,35,115,Jain Shikanji,Lemonade,40,0,0.3000,1,1,0,1,0,1,0,Yes,133.33,40,4,40,Medium

What valuation does a company need to be in the top 10% of all successful deals?

In [62]:
top_10_percente = np.percentile(df2['Valuation(lakhs)'],90).__round__()

In [63]:
print(f'To be in the top 10%, a valuation had to be over:{top_10_percente} Lakhs.')

To be in the top 10%, a valuation had to be over:1390 Lakhs.

In [73]:
q=df2['Total Funding(lakhs)'].mean().__round__()
print(f'Average valuation is {q} Lakhs.')

Average valuation is 44 Lakhs.

THE END